[submodule "submodules/SHA1"]
	path = submodules/SHA1
	url = https://github.com/983/SHA1.git

[submodule "submodules/nlohmann_json"]
    path = submodules/nlohmann_json
    url = https://github.com/nlohmann/json.git

[submodule "submodules/fastlog"]
    path = submodules/fastlog
    url = https://github.com/gabrielefronze/fastlog.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
